/* ----- ------------------------------ ----- */
/* ----- Duża uwaga robocza do całości! ----- */
/* Klasy globalne, wydzielajace obszary na stronach, mają ustawione bordery robocze (wyróżniajace się kropki i kreski). 
Nie usuwałem ponieważ pozwalają szybko określić rozmieszczeenie elelmentów. 
Po zatwierdzeniu zadania są do usunięcia. --- */
/* ----- ------------------------------ ----- */


/* ----- ------------------------------ ----- */
/* ----- setting global tags and styles ----- */
/* ----- common to the entire page      ----- */
/* ----- ------------------------------ ----- */

* {
    margin: 0px;
    padding: 0px;
}
:root {
    /*content colors used in the page layout */
     
    --main-color-black : rgb(33, 33, 33,1);
    --second-color-dark-grey: rgb(117, 117, 117);
    --main-color-on-dark-bg-white: rgba(255, 255, 255, 1);
    --second-color-dark-bg-white-06a: rgba(255, 255, 255, 0.6); 
    
    /* brand color is blue rgb(33, 150, 243), used to: hovered links, button, */
    --brand-color-blue: rgb(33, 150, 243);
    
    --logotype-on-light-bg-black: rgb(0, 0, 0);
    --logotype-on-dark-bg-white: rgb(255, 255, 255);
    
     /*background colors used in the page layout*/

    --portfolio-button-bg-color: rgba(245, 244, 250, 1);
    
    /*background colors*/
    --main-bg-color-white: rgb(255, 255, 255);
    --second-bg-color-white: rgb(245, 244, 250);

    --dark-bg-color-black1: rgb(47, 48, 58);

    --border-color-white1: rgb(238, 238, 238);
    --border-color-white2: rgb(236, 236, 236);   
}

body {
    /*margin-left: auto;
    margin-right: auto;*/
    
    font-family: 'Roboto', sans-serif;
    color: var(--main-color-black);   
    background-color: var(--main-bg-color-white);      
}

/* ----- tags- reset properties: ul, h  ----- */

ul {
    margin-block: 0px;
    padding-inline-start: 0p;
    }
ul,
h1,
h2,
h3,
h4,
p {
    margin: 0px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    /*border: 1px dotted blueviolet;*/
}
.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    /*border: 1px dashed goldenrod;*/
}
.link {
    text-decoration: none;
    cursor: pointer;
}
.link:hover,
.link:focus {color: var(--brand-color-blue);
}


/* ----- ------------------------------ ----- */
/* ----- header & menu global styles    ----- */
/* ----- ------------------------------ ----- */

.page-header {
    background-color:var(--main-bg-color-white);
    border-bottom: 1px solid var(--border-color-white2);
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px 4px 15px;
    
    font-size: 14px;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
}
/* ----- ------------------------------ ----- */
/* ----- logotype styles:               ----- */
/* ----- on light & dark background     ----- */
/* ----- ------------------------------ ----- */

.logo {
   
    /*border-radius: 10px;    
    background-color: rgba(0, 255, 0, 0);*/
    text-decoration: none;
    margin-right: 97px;
}
.logo__link { 
    display: inline-block;
    text-decoration: none;
    cursor: pointer;    
}
.logotype{
    text-decoration: none;
    font-family: Raleway, Oleo Script, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.logotype--brand-color {color: var(--brand-color-blue);}
.logotype--on-light-bg {color: var(--logotype-on-light-bg-black);}
.logotype--on-dark-bg {color: var(--logotype-on-dark-bg-white);}

.nav {
    /*padding: 10px;*/
    display: flex;
    flex: 1;
    /*border-radius: 5px;
    background-color:cadetblue;*/
}
.nav__items {
    display: flex;   
    gap: 46px;
    
    list-style-type: none;
    color: var(--main-color-black); 
}
.nav__link {
    text-decoration: none;
    cursor: pointer;
    color: var(--main-color-black); 
}

.contact {
    display: flex;
    padding: 10px; 
        
   /* border-radius: 5px;
    background-color: aqua;*/
}
.contact__items {
    display: flex;   
    gap: 50px; 

    list-style-type: none;
    color: var(--second-color-dark-grey);
}
.contact__link {
    text-decoration: none;
    cursor: pointer;
    color: var(--second-color-dark-grey);
}

/* ----- ------------------------------ ----- */
/* ----- footer styles: dark background ----- */
/* ----- ------------------------------ ----- */

.footer {
    
    padding-top: 60px;
    padding-bottom: 60px;
    
    background-color: var(--dark-bg-color-black1);
}
.footer__box {
    padding-left: 15px;
    /*background-color: black;*/
}
.address__link--color { color: var(--second-color-dark-bg-white-06a);}

.address__box {
    text-decoration: none;
    height: 81px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
       
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
    
    color: var(--main-color-on-dark-bg-white); 
}
/* ----- ------------------------------ ----- */
/* ----- main page specyfic styles      ----- */
/* ----- ------------------------------ ----- */

.header__banner {
    width: inherit;
    height: 600px;
    background-color: var(--dark-bg-color-black1);
}
.header__box {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}
.header__slogan {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--main-color-on-dark-bg-white);
   
}
.header__button {
    width: 200px;
    height: 50px;
    display: block;
    
    background: var(--brand-color-blue);
   
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    
    color: var(--main-color-on-dark-bg-white);
    cursor: pointer;
}

.feature {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    
    list-style: none; 
}
.feature__item {
    width: 270px;
}
.feature__name {
    
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align:left;

    margin-bottom: 10px;
}
.feature__description { 
    height: 75px;

    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    text-align: left;

    color: var(--second-color-dark-grey);
}

.section--short-padding-top {
    padding-top: 50px;
    padding-bottom: 94px;
    /*border: 1px dotted blue;*/
}
.gallery {
    list-style-type: none;

    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.gallery__item {
    max-width: 370px;
    height: 294px;
    margin: 0px;
}
.gallery__name {
   
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}
.section-team--bg-color {background-color: var(--second-bg-color-white);
}
.section-team__name {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    padding-bottom: 50px;   
    
    /*border: 1px dashed grey;*/
}
.team-cards { 
    list-style-type: none;
    
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.team-card {
    width: 270px;
    height: 368px;
    
    background: var(--main-bg-color-white);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-card__caption{
    width: auto;
    height: auto;
    padding: 30px 0px;
        
}
.team-card__name {
    /*font-family: Roboto;*/
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    padding-bottom: 10px;    
}
.team-card__description {
    font-size: 16px;
/*font-weight: 400;*/
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;

    color: var(--second-color-dark-grey);
}

/* ----- ------------------------------ ----- */
/* ----- portfolio page specyfic styles ----- */
/* ----- ------------------------------ ----- */

.portfolio-gallery {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color-black);
    background-color: var(--main-bg-color-white);
}

.portfolio__filter {
    list-style-type: none;
    padding-inline-start: 0px;
    
    display: flex;
    justify-content: center;
    gap: 0px 8px;
    padding-bottom: 50px;
    
}
.portfolio__filter-btn{
    
    border-style: none;
    border-radius: 4px;
    padding: 6px 22px;
    
    text-align: center;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;

    color: var(--main-color-black);
    background-color: var(--second-bg-color-white);
    cursor: pointer;
}
.portfolio__filter-btn:hover,
.portfolio__filter-btn:focus {
    
    background-color: var(--brand-color-blue);
    color: var(--main-color-on-dark-bg-white);
    /* shadow-middle */
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    

}
.portfolio-cards {
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 30px 30px; 

   /*background-color: brown;  */
}
.portfolio-card {flex-basis: calc((100% - 60px)/3);}
.portfolio-card__caption {
    width: 370px;
    padding: 15px 24px 20px;

    border-left: 1px solid var(--border-color-white2);
    border-right: 1px solid var(--border-color-white2);
    border-bottom: 1px solid var(--border-color-white2);
}
.portfolio-card__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    color: var(--primary-color);
    margin-bottom: 4px;
}
.portfolio-card__label {
    
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--second-color-dark-grey);
}
